 @import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=Ubuntu|Satisfy');
 @import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
 body 
 {
      font: 20px Montserrat, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
      font-family: Averia Serif Libre;
}
.navbar {
    font-family: "Satisfy";
}
.tech-stack h3 {
        color: #444444;
    text-align: center;
    padding: 20px 30px 21px;
    font-family: Satisfy;
    border-bottom: 1px dotted rgba(49, 41, 64, 0.22);
}
.tech-stack .row {
    margin-top: 75px;
    margin-bottom: 50px;
}
.tech-stack .row p {
    text-align: center;
    color: #5d5d5d;
    font-size: 100%;
    margin-top: 10px;;
}
.extra-bg img {
        width: 100%;
}
.resume-object {
    min-height: 500px;
}
iframe {
    max-width: 100% !important;
    min-width: 0 !important;
}
p 
{
  font-size: 16px;
}
.navbar-default {
    background-color: #ffffff;
}
.margin 
{
  margin-bottom: 45px;
}

.container-1 {
    padding:0;
    min-height:600px;
    padding-bottom:0 !important;
}
.cont-who-am-i {
        font-family: "Satisfy";
    color: #3a3a3a;
}
.container-breaks {
    min-height:100px;
    padding: 50px;
    text-align: center;
    color: #272834;
    font-family:  "Satisfy";
}
.pub-div {
        border: 1px solid #ccc;
    padding: 25px;
    text-align: left;
    cursor: pointer;
}
.pub-div .head{
    font-weight: 600;
    color: slategrey;
}
.pub-div .head-sub {
    margin-top: -20px;
}
.pub-div a {
    text-decoration: none;
}
.i-bg img{
    width:100%;
}
.mydetail-txt {
        line-height: 50px;
    text-align: justify;
}
.first-container-bg {
    width:100%;
    background: url(../images/me-transparent.png) center center no-repeat;
    color: #ffffff;
    min-height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-color: lightslategray;
    filter: blur(5px);
    min-height:600px;
}
.first-container-content {
    position: absolute;
    top:50px;
    left:0px;
    width: 100%;
    min-height:600px;
}
.bg-2 
{ 
    background-color: lavender;
    color: #474e5d;
}
.bg-3 
{ 
    background-color: #474e5d; /* White */
    color: #f8f8f8;
}
.bg-4 
{ 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid 
{

    padding-bottom: 70px;
}
.navbar 
{
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
        border-bottom: 1px solid #eee;
    box-shadow: 0px 1px 5px #efefef;
    z-index:99;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

/* typed js */

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
.header-text
{
    background: rgba(0, 0, 0, 0.55);
    height: 601px;
    width: 100%;
}
.header-text h1
{
/*    font-family: 'Monoton'; */
    font-family: Permanent Marker;
    text-align: left;
    width: 50%;
    padding: 174px 100px;
}

/* timeline */
/* Variables */
/* Fonts */

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

/* Layout */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Styling */
.timeline 
{
margin: 4em auto;
    position: relative;
    width: 60%;
}
.timeline:before 
{
    background-color: white;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
  position: relative;
}
.timeline-event:hover .timeline-event-icon {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a83279;
}
.timeline-event:hover .timeline-event-thumbnail {
  -moz-box-shadow: inset 40em 0 0 0 #a83279;
  -webkit-box-shadow: inset 40em 0 0 0 #a83279;
  box-shadow: inset 40em 0 0 0 #a83279;
}

.timeline-event-copy {
  padding: 2em;
  position: relative;
  top: -1.875em;
  left: 4em;
  width: 80%;
}
.timeline-event-copy h3 {
  font-size: 1.75em;
}
.timeline-event-copy h4 {
  font-size: 1.2em;
  margin-bottom: 1.2em;
}
.timeline-event-copy strong {
  font-weight: 700;
}
.timeline-event-copy p:not(.timeline-event-thumbnail) {
  padding-bottom: 1.2em;
}

.timeline-event-icon 
{
-moz-transition: -moz-transform 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-in;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #474e5d;
    outline: 3px solid white;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail 
{
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: #474e5d;
    font-size: 1.2em;
    background-color: #f8f8f8;
    -moz-box-shadow: inset 0 0 0 0em #ef795a;
    -webkit-box-shadow: inset 0 0 0 0em #ef795a;
    box-shadow: inset 0 0 0 0em #ef795a;
    display: inline-block;
    margin-bottom: 2.2em;
    padding: 0.25em 4em 0.2em 2em;
}

.timeline-cicon
{
  margin-left: -125px;
      position: absolute;
    width: 50px;
}
.pf-item-thumb img{
    width: 100%;
}
.tech-stack {
    padding: 75px;
    background: lightgoldenrodyellow;
}
.tech-stack p {
    color: #000;
}
.tech-stack-thumb img {
    width:100%;
}
.timeline-cicon img
{
  width: 100%;
}
.pf-item {
    min-height: 300px;
    margin: 20px 50px;
    border: 1px solid #e8e8e8;
    background: ghostwhite;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.pf-item-short-detail {
        color: #3a3a3a;
    text-align: center;
}
.portfolio h3 {
    color: #444444;
    text-align: center;
    padding: 20px 30px 21px;
    font-family: Satisfy;
    border-bottom: 1px dotted rgba(49, 41, 64, 0.22);
}
.m-modal {
    color: #2b2b2b;
    text-align: left;
    font-family: Satisfy;
}
.publication {
    background-color:lightslategrey;
}
.extra-bg
{
    padding: 0px;
}
.extra {
    padding-left: 0px;
    padding-right:0px;
    background: slategray;
}
.extra h3 {
        color: #ffffff;
    padding: 0px 30px 21px;
    font-family: Satisfy;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.22);
    margin-bottom: 25px;
}
.extra-content-bg {
    padding:0;
}
.extra-cards {
    border-radius: 5px;
    background: ghostwhite;
    color: #404040;
    padding: 25px 50px;
        margin: 10px 0px;
}
.extra-cards h4
{
    padding: 0px 30px 21px;
    font-family: Satisfy;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.22);
    margin-bottom: 25px;
}
.container-contact {
        background: #2f2f2f;
    text-align: center;
    font-family: Satisfy;
}
.soc-ico {
    transition: all 0.2s ease-in-out;
    padding: 15px;
    border-radius: 5px;
}
.soc-ico:hover {
    background: slategray;
    transition: all 0.2s ease-in-out;
}
.container-contact img {
 width: 70%;
    margin: 0px auto;
    cursor: pointer;

}

footer {
        padding-top: 35px;
    padding-bottom: 20px;
}
.modal-head-img {
    width:25%;
    margin:0px auto;
}
.modal-head-img img {
    width:100%;
}
.m-modal .modal-body {
    font-family: Averia Serif Libre;
}
.modal-detail {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 25px;
}
.modal-detail .detail-header {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 0px;
    width: 25%;
    margin: 15px auto -10px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.modal-detail .detail-content {
    font-size:13px;
}
.bg-2 h3 {
        color: #444444;
    text-align: center;
    padding: 20px 30px 21px;
    font-family: Satisfy;
    border-bottom: 1px dotted rgba(49, 41, 64, 0.22);
}
#alert {
    text-align: center;
}
.alert {
    font-size: 150%;
}